# Node + Next.js
node_modules/
.next/
out/

# Local environment
.env*
.vscode/

# Python cache
__pycache__/
*.pyc

# Training files
data/
spectograms/
models/

# Logs and temp files
*.log
.DS_Store
*.tmp


venv/